.Page {
	font-size: 20px;
}

.Page-logo {
	display: none;
}

.Page .contentTitle {
	padding: 0 20px;
}

.Page .contentTitle h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.Page .contentTitle p {
	color: #999;
}

.navbar-brand a {
	margin: 0 8px;
}

.active {
	border-bottom: 1px dotted #888;
}
.navbar-right {
	margin: 0;
}
.navbar-right button {
	border: 0;
	background: transparent;
	color: #337ab7;
}
.navbar-right button:hover {
	color: #23527c;
	text-decoration: underline;
}

@keyframes Page-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

:invalid {
	border-color: red;
}

@media all and (min-width: 900px) and (min-height: 700px) {
	.Page-logo {
		display: block; 
		position: fixed;
		right: 90px;
		bottom: 20px;
		/*animation: Page-logo-spin infinite 30s linear;*/
		opacity: 0.2;
		z-index: -32;
	}
}

.authed .requireNotAuthed {
	display: none;
}
.notAuthed .requireAuthed {
	display: none;
}
div.Page nav.navbar .container-fluid {
	background-color: #dce1ff;
}
.navbar-header .navbar-collapse {
	background-color: #fff;
}
@media all and (min-width: 768px) {
	html .navbar-header .navbar-collapse {
		background-color: inherit;
	}
	html div.Page nav.navbar .container-fluid {
		background-color: #eef;
	}
}
@media all and (min-width: 480px) {
  button, input {
    margin: 0 auto;
    max-width: 320px;
  }
}
input {
	padding: 0 6px;
}
form input[name=expected_salary] {
	display: inline-block;
	width: 100px;
}

form {
	max-width: 800px;
}

select {
	padding: 6px;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid #ccc;
}

form .form-group-lg .form-control  {
	height: 40px;
}
